[submodule "vendor/sdl3"]
	path = vendor/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/libzip"]
	path = vendor/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/sol3"]
	path = vendor/sol3
	url = https://github.com/ThePhD/sol2.git
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "vendor/luajit"]
	path = vendor/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
